body {
    background-color: #f1f1f1;
}

.container {
    background-color: #f1f1f1;
}

.text-bg-purple {
    background-color: #770437;
}

.text-purple {
    color: #78003f;
    font-weight: bold;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.flex-auto {
    flex: 0 0 auto;
}

/* Blog posts */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}